.error{
    margin-bottom: 100px;

    & .errorContent{
        color: $main-color;
        text-align: center;
        min-height: 60vh;

    }
    & .error_404{
        font-weight: 700;
        font-size: 288px;
        margin: 0;
        margin-bottom: 100px ;
    }
    & .error_message{
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 100px;
    }

    & .return {
        color: inherit;
        color: black;
        font-size: 18px;
        font-weight: 500;
        // text-decoration: none;
    }
}

@media only screen and (max-width:640px){
    .error {

        & .error_404{
            margin: 100px 0 ;
            font-size: 96px;
        }
        & .error_message{
            font-size: 18px;
            width: 250px;
            margin: auto;
            margin-bottom: 120px;
        }
        & .return{
            margin-bottom: 100px;
        }
    }
}