.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    background-color: $footer-color ;
    ;
    color: white;
    gap: 20px;
    padding: 40px 0;
}

@media only screen and (max-width: 640px){
    .footer p{
        width: 140px;
        text-align: start;
        margin: 0;
    }
}