$main-color : #FF6060;
$background-color :#F7F7F7 ;

.about{
    margin: 100px 0 ;
    // min-height: 500px;
}

.unrollMe{
    max-width: 580px;

    & .unrolled{
        padding: 15px 25px ;
        margin-top: -10px;
        font-size: 18px;
        opacity: 0;
    
        transform: translateY(0px);
        transition: 
        opacity 0.3s ease-in-out,
        height 0.3s 0.3s ease-in-out;
    
        visibility: visible;
        opacity: 1;
        // height: auto;
        min-height:20px;
        
        z-index: 2;
        display: flex;
        font-weight: 400;
    
        background-color:  $background-color;
        border-radius: 0 0 5px 5px;
        width: 100%;

        & .collapse_ul{
            list-style: none;
            padding-left: 0;
            & .collapse_li{
                margin-bottom: 5px;
            }
        }
    }
    & .hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transform: translateY(-100px)
    }
}


.unrollMe_content{
    height: 50px;
    position: relative;
    border-radius: 10px;
    background-color:$main-color ;

    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 99;

    
    & p{
        color: white;
        margin: auto 0 auto 25px ;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    & img{
        max-width: 32px;
        max-height: 32px;
        margin-left: auto;
        margin-right: 25px;
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
        
    }
    & .active{
        transform: rotate(180deg);
}
}



.unrollMe_maxWidth{
    max-width: 80%;
    margin: auto;
    border-radius: 5px;
}
.unrollMe_minWidth{
    width: 850px;
}

.aboutKasa{
    margin: 20px 100px;
}


@media only screen and (max-width:640px){
    .about{
        margin: 20px 0;
        margin-bottom: 160px;
    }
    .aboutKasa{
        margin: 0 20px;
    }
    .unrollMe_maxWidth{
        max-width: 100%;
    }
    .unrollMe_minWidth{
      width: 100%;  
    }
}