body{
    margin: 0;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    background-color: black;
    color: white;
    gap: 20px;
    padding: 40px 0;
}