@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Shrikhand&display=swap");
.banner {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  margin: 0 100px;
  font-weight: 700;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000; */
  border-radius: 25px;
  height: 223px;
  width: auto;
}

.bannerHome {
  margin-top: 20px;
  background: url(../Assets/BannerHome.jpg), center center/cover rgba(0, 0, 0, 0.6196078431);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.bannerAlernativ {
  background: url(../Assets/BannerAlternativ.png), center center/cover rgba(0, 0, 0, 0.3764705882);
  height: 250px;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

@media only screen and (max-width: 640px) {
  .banner {
    min-width: 335px;
    max-height: 120px;
    margin: 20px;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .banner h1 {
    font-size: 24px;
    font-weight: 700;
    width: 225px;
    margin: 0 20px;
  }
  .bannerAlernativ {
    height: 120px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  align-items: center;
  text-decoration: none;
}
.navbar img {
  height: 68px;
}
.navbar .menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: 500;
  font-size: 24px;
  list-style-type: none;
}
.navbar .menu a {
  color: inherit;
  text-decoration: none;
}
.navbar .menu .selected {
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 640px) {
  .navbar {
    margin: 20px 20px;
  }
  .navbar img {
    height: 46px;
  }
  .navbar .menu {
    font-size: 14px;
  }
}
.cards {
  margin: 50px 100px;
  padding: 50px 0;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 80px;
}
.cards a {
  color: inherit;
  text-decoration: none;
  color: black;
}
.cards .card {
  position: relative;
  border-radius: 10px;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
}
.cards .card .card_img {
  width: 100%;
  min-height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
.cards .card::before {
  position: absolute;
  content: "";
  inset: 0;
  margin: auto;
  border-radius: 10px;
  background-image: linear-gradient(180deg, hsla(0deg, 0%, 100%, 0) 0, rgba(0, 0, 0, 0.5) 100%);
}
.cards .card .card_text {
  color: white;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 78%;
  bottom: 5%;
}

@media only screen and (max-width: 640px) {
  .cards {
    margin: 0;
    padding: 20px;
    gap: 30px;
  }
  .cards .card {
    width: 100%;
  }
  .cards .card .card_text {
    width: 250px;
    height: auto;
    top: 65;
  }
  .cards .card .card_img {
    max-height: 255px;
  }
}
.error {
  margin-bottom: 100px;
}
.error .errorContent {
  color: #FF6060;
  text-align: center;
}
.error .error_404 {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
  margin-bottom: 100px;
}
.error .error_message {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 100px;
}
.error .return {
  color: inherit;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 640px) {
  .error .error_404 {
    margin: 100px 0;
    font-size: 96px;
  }
  .error .error_message {
    font-size: 18px;
    width: 250px;
    margin: auto;
    margin-bottom: 120px;
  }
  .error .return {
    margin-bottom: 100px;
  }
}
.about {
  margin: 100px 0;
}

.unrollMe {
  max-width: 580px;
}
.unrollMe .unrolled {
  padding: 15px 25px;
  margin-top: -10px;
  font-size: 18px;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
  min-height: 20px;
  z-index: 2;
  display: flex;
  font-weight: 400;
  background-color: #F7F7F7;
  border-radius: 0 0 5px 5px;
  width: 100%;
}
.unrollMe .unrolled .collapse_ul {
  list-style: none;
  padding-left: 0;
}
.unrollMe .unrolled .collapse_ul .collapse_li {
  margin-bottom: 5px;
}
.unrollMe .hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transform: translateY(-100px);
}

.unrollMe_content {
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #FF6060;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 99;
}
.unrollMe_content p {
  color: white;
  margin: auto 0 auto 25px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.unrollMe_content img {
  max-width: 32px;
  max-height: 32px;
  margin-left: auto;
  margin-right: 25px;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.unrollMe_content .active {
  transform: rotate(180deg);
}

.unrollMe_maxWidth {
  max-width: 80%;
  margin: auto;
  border-radius: 5px;
}

.unrollMe_minWidth {
  width: 850px;
}

.aboutKasa {
  margin: 20px 100px;
}

@media only screen and (max-width: 640px) {
  .about {
    margin: 20px 0;
    margin-bottom: 160px;
  }
  .aboutKasa {
    margin: 0 20px;
  }
  .unrollMe_maxWidth {
    max-width: 100%;
  }
  .unrollMe_minWidth {
    width: 100%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: white;
  gap: 20px;
  padding: 40px 0;
}

@media only screen and (max-width: 640px) {
  .footer p {
    width: 140px;
    text-align: start;
    margin: 0;
  }
}
.logementInfos {
  margin: 0 100px 1%;
  display: flex;
  flex-direction: column;
}
.logementInfos .logementContent {
  display: flex;
}
.logementInfos .logementContent .logementInfosDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.logementInfos .logementContent .logementInfosDescription .logementTitleLocation {
  display: flex;
  flex-direction: column;
}
.logementInfos .logementContent .logementInfosDescription .logementTitleLocation .logementTitle {
  color: #FF6060;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}
.logementInfos .logementContent .logementInfosDescription .logementTitleLocation .logementLocation {
  font-weight: 500;
  font-size: 18px;
}
.logementInfos .logementContent .logementInfosDescription .logementTag {
  display: flex;
  list-style: none;
  padding: 0;
}
.logementInfos .logementContent .logementInfosDescription .logementTag .tag {
  background-color: #FF6060;
  margin-right: 10px;
  color: white;
  padding: 5px 40px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
}
.logementInfos .logementContent .hostInfo {
  width: 50%;
}
.logementInfos .logementContent .hostInfo .hostPresentation {
  display: flex;
  align-items: center;
}
.logementInfos .logementContent .hostInfo .hostPresentation .hostName {
  display: flex;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  width: 90px;
  margin-left: auto;
}
.logementInfos .logementContent .hostInfo .hostPresentation .hostPicture {
  border-radius: 50%;
}
.logementInfos .logementContent .hostInfo .rate {
  margin-left: auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.logementInfos .Unroll_LogementInfos {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media only screen and (max-width: 640px) {
  .logementInfos {
    margin: 20px;
  }
  .logementInfos .logementContent {
    flex-direction: column;
  }
  .logementInfos .logementContent .hostInfo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }
  .logementInfos .logementContent .hostInfo .rate {
    gap: 0;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
  .logementInfos .logementContent .hostInfo .rate img {
    width: 24px;
  }
  .logementInfos .logementContent .hostPresentation .hostName {
    text-align: end;
    margin-right: 10px;
  }
  .logementInfos .logementContent .hostPresentation .hostPicture {
    height: 64px;
  }
  .logementInfos .logementContent .logementInfosDescription {
    width: 100%;
  }
  .logementInfos .logementContent .logementInfosDescription .logementTitleLocation {
    width: 100%;
  }
  .logementInfos .logementContent .logementInfosDescription .logementTitleLocation .logementTitle {
    font-size: 18px;
  }
  .logementInfos .logementContent .logementInfosDescription .logementTitleLocation .logementLocation {
    font-size: 14px;
    margin-bottom: 0;
  }
  .logementInfos .logementContent .logementInfosDescription .logementTag .tag {
    font-size: 10px;
    padding: 0 10px;
    min-height: 25px;
    min-width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logementInfos .Unroll_LogementInfos {
    flex-direction: column;
  }
}
.carrouselContent {
  height: 650px;
  margin: 0 100px 50px;
  position: relative;
}

.hidde_img {
  display: none;
}

.carrouselCurrentImg {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrowContent {
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 0 25px;
  justify-content: space-between;
}
.arrowContent img {
  cursor: pointer;
  height: 80px;
  width: 50px;
}
.arrowContent .leftArrow {
  transform: rotate(180deg);
}

@media only screen and (max-width: 640px) {
  .carrouselContent {
    height: 255px;
    margin: 0 20px;
  }
  .arrowContent img {
    height: 40px;
    width: 24px;
  }
  .carrouselCurrentImg {
    border-radius: 10px;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
