@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Shrikhand&display=swap');
@import "./Base/base.scss";
@import "./Banner/banner.scss";
@import "./nav/nav.scss";
@import "./card/card.scss";
@import "./Error/error.scss";
@import "./unroll/unroll.scss";
@import "./footer/footer.scss";
@import "./Logements/logement.scss";
@import "./Carrousel/carrousel.scss";


*{
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
}
body{
    margin: 0;
}
